<h2 mat-dialog-title>Изменение позиции заказа # {{index}}</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Сорт кофе</mat-label>
    <mat-select [(value)]="orderItem.coffeeTypeId" required>
      <mat-option *ngFor="let coffeeType of data.coffeeTypes" [value]="coffeeType.id">
        {{coffeeType.nameRu}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Количество кружек</mat-label>
    <input matInput type="number" [(ngModel)]="orderItem.count">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="cancel()">Отмена</button>
  <button mat-raised-button color="primary" (click)="save()">Сохранить</button>
</mat-dialog-actions>
